DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=blogify
DB_USERNAME=phpuser
DB_PASSWORD=root
DB_CHARSET=utf8mb4

# Docker environment variables (used by docker-compose.yml)
# VITE_URL=http://localhost:5174
# VITE_PORT=5173
# VITE_HMR_HOST=localhost
# VITE_HMR_PORT=5174
# VITE_ORIGIN=http://localhost:5174
